#
*.en*
*.asv
project/inc/CDT-master/cdt/cdt_data
*.zip
~$*.doc*
project/bin
project/doc/fig
project/doc/课程项目_危国锐.docx
project/doc/课程项目_危国锐.pdf

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
